<body onload="document.refresh();">
    <div>
        <a href="https://www.swingbyswing.com/courses" target="_blank">Find Course Slope and Rating Here</a>
        <hr />
    </div>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <h4 align="center">Add New Course</h4>
                    <form name="AddCourse">
                        <table align="center" border="0" class="table-content" ng-app="GolfHandicapCalculator">
                            <tr class="table-content">
                                <td class="tableCell"><h5>Enter Course Name: <input type="text" class="tableCellContents" name="name" ng-model="controller.course.name" /></h5></td>
                                <td class="tableCell"><h5>Enter Course Slope: <input type="text" class="tableCellContents" name="slope" ng-model="controller.course.slope" size="10" /></h5></td>
                                <td class="tableCell"><h5>Enter Course Rating: <input type="text" class="tableCellContents" name="rating" ng-model="controller.course.rating" size="10" /></h5></td>
                                <td>&nbsp;</td>

                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr class="table-content">
                                <td colspan="3" align="center"><button class="btn" ng-click="controller.addCourse()">Enter New Course</button></td>
                            </tr>

                        </table>
                    </form>
                    <hr />
                    <form name="ExistingCourses">
                        <table align="center" border="0" class="table-content">
                            <tr class="table-content" align="center">
                                <td class="tableCell" width="20%">Course Name</td>
                                <td class="tableCell" width="10%">Course Slope</td>
                                <td class="tableCell" width="10%">Course Rating</td>

                            </tr>
                            <tr ng-repeat="course in controller.courses | orderBy: 'name'" class="tab-content" align="center">
                                <td><h5 class="tableCellContentsDisplay">{{course.name}}</h5></td>
                                <td><h5 class="tableCellContentsDisplay">{{course.slope}}</h5></td>
                                <td><h5 class="tableCellContentsDisplay">{{course.rating}}</h5></td>

                            </tr>
                        </table>
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</body>