<body>
    <div class="header-dark">
        <nav class="navbar navbar-default navigation-clean-search">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>

            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Contact</h1>
                        <address>
                            12889 West Oyer Lane<br />
                            Peoria, AZ 85383<br />
                            <abbr title="Phone">P:</abbr>
                            928.252.2479
                        </address>
                        <address>
                            <strong>Support:</strong> <a href="mailto:john.conklin@conklin.phxcoxmail.com">Support Team</a><br />
                        </address>
                </div>
            </div>
        </div>
    </div>
</body>