<body>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-md-10 col-md-offset-4">
                        <h1 class="text-center">What is a Handicap</h1>
                        <h3 class="text-center">
                            A golf handicap is a numerical measure of a golfer's potential ability. In stroke play,
                            it is used to calculate a net score from the number of strokes actually played during a
                            competition, thus allowing players of different proficiency to play against each other on
                            somewhat equal terms.
                        </h3><br />

                        <h3 class="text-center">Handicap Manual - USGA</h3>
                        <div align="center"><a href="http://www.usga.org/Handicapping/handicap-manual.html" target="_blank">http://www.usga.org/Handicapping/handicap-manual.html</a></div>

                        <h3 class="text-center"> How to Use the Golf Handicap System - Dummies</h3>
                        <div align="center">
                            <a href="http://www.dummies.com/sports/golf/how-to-use-the-golf-handicap-system/" target="_blank">http://www.dummies.com/sports/golf/how-to-use-the-golf-handicap-system</a>
                        </div>
                        <h3 class="text-center"> Find Course Information - Slope and Rating</h3>
                        <div align="center">
                            <a href="https://www.swingbyswing.com/courses" target="_blank">https://www.swingbyswing.com/courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


