<body>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>

                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <form name="Register">
                        <table align="center" border="0" class="table-content" ng-app="GolfHandicapCalculator">
                            <tr class="table-content">
                                <td class="tableCell"><h5>Email: <input type="text" class="tableCellContents" name="email" ng-model="controller.addCourse.name" /></h5></td>
                            </tr>
                            <tr class="table-content">
                                <td class="tableCell"><h5>User Name: <input type="text" class="tableCellContents" name="userName" ng-model="controller.addCourse.name" /></h5></td>
                            </tr>
                            <tr class="table-content">
                                <td class="tableCell"><h5>Password: <input type="text" class="tableCellContents" name="password" ng-model="controller.addCourse.slope" size="10" /></h5></td>
                            </tr>
                            <tr class="table-content">
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="table-content">
                                <td><button class="btn" ng-click="controller.save()"> Login</button></td>
                            </tr>

                        </table>
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</body>