<body>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <h4 align="center">Add New Round</h4>
                    <form name="AddRound">
                        <table align="center" border="0" class="table-content" ng-app="GolfHandicapCalculator">
                            <tr class="table-content">
                                <td class="tableCell">
                                    <h5>
                                        Select Course Name:
                                        <select name="courseName" ng-model="controller.round.courseName">
                                            <option ng-repeat="round in controller.rounds" >{{round.courseName}}</option>
                                        </select>
                                        <!-- <select ng-model="controller.round" ng-options="round.courseName as round.courseName for courseName in round.courseName" ></select> -->
                                    </h5>
                                    </td>
                                    <td class="tableCell"><h5>Enter Score: <input type="text" class="tableCellContents" name="holeScore" ng-model="controller.round.holeScore" size="10" /></h5></td>
                                    <td>&nbsp;</td>
                                    <td><button class="btn" ng-click="controller.addRound()"> Enter New Round</button></td>
                                </tr>
                            </table>
                        </form>
                        <hr />
                        <form name="ExistingRounds">
                            <table align="center" border="0" class="table-content">
                                <tr class="table-content" align="center">
                                    <td class="tableCell" width="10%">ID</td>
                                    <td class="tableCell">Round Score</td>
                                    <td class="tableCell">Course Name</td>
                                </tr>
                                <tr ng-repeat="round in controller.rounds" class="tab-content"  align="center">
                                    <td><h5 class="tableCell">{{round.roundID}}</h5></td>
                                    <td><h5 class="tableCell">{{round.holeScore}}</h5></td>
                                    <td><h5 class="tableCell">{{round.courseName}}</h5></td>
                                </tr>
                            </table>
                        </form>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </body>
