<!DOCTYPE html>
<html ng-app="GolfHandicapCalculator">
<head>
    <title>Golf Handicap Calculator</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Header-Dark.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <div class="container">
        <h1>Golf Handicap Calculator</h1>
            <div class="navbar-left">
                    <a href="/login">Login &nbsp;&nbsp;</a>
                    <a href="/register">Register&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> |
                    <a href="/">Home &nbsp;&nbsp;</a>|
                    <a href="/about">About &nbsp;&nbsp;</a>|
                    <a href="/contact">Contact &nbsp;&nbsp;</a>|
                    <a href="/add">Add Course &nbsp;&nbsp;</a>|
                    <a href="/rounds">Add Rounds </a>
              
            </div>
        </div>
        <hr />

        <ui-view></ui-view>


    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>

    <!-- App Files-->

    <script src="~/ngApp/app.js"></script>
     <script src="~/ngApp/controllers/controller.js"></script>
    <script src="~/ngApp/controllers/CourseController.js"></script>
    <script src="~/ngApp/controllers/RoundController.js"></script>
    <script src="~/ngApp/controllers/UsersController.js"></script>
    <script src="~/ngApp/services/services.js"></script>



</body>
</html>