<!DOCTYPE html>
<html ng-app="GolfHandicapCalculator">
<head>
    <title>Golf Handicap Calculator</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Header-Dark.css" rel="stylesheet" />
    <link href="~/css/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <div class="container" border="2">
        <h1>Golf Handicap Calculator</h1>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li role="presentation" class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                <li class="nav-item" role="presentation"><a href="#" class="nav-link active">About</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle nav-link dropdown-toggle">Add Items</a>
                    <div role="menu" class="dropdown-menu"><a role="presentation" href="#" class="dropdown-item">First Item</a><a role="presentation" href="#" class="dropdown-item">Second Item</a><a role="presentation" href="#" class="dropdown-item">Third Item</a></div>
                </li>
            </ul><span class="navbar-text actions"><a href="#" class="login">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
        </div>
        <div class="navbar-left">
            <a href="/login">Login &nbsp;&nbsp;</a>
            <a href="/register">Register&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> |
            <a href="/">Home &nbsp;&nbsp;</a>|
            <a href="/about">About &nbsp;&nbsp;</a>|
            <a href="/contact">Contact &nbsp;&nbsp;</a>|
            <a href="/add">Add Course &nbsp;&nbsp;</a>|
            <a href="/rounds">Add Rounds </a>

        </div>
        </div>
        <hr />

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>


    <!-- App Files-->

    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/controller.js"></script>
    <script src="~/ngApp/controllers/CourseController.js"></script>
    <script src="~/ngApp/controllers/RoundController.js"></script>
    <script src="~/ngApp/controllers/UsersController.js"></script>
    <script src="~/ngApp/services/services.js"></script>



</body>
</html>